{% extends 'base.html.twig' %}

{# {% block title %}POUVREAU Marcel Portfolio{% endblock %} #}

{% block body %}

<main class="main-home">
    <img src="{{ asset ("images/background.jpg")}}" alt="">
    <article class="home-article">
        <div class="text-main">
            <h3>Who am i?</h3>
            <p>Hello, my name is Marcel Pouvreau and i am a web developper.</p>
            <p>I am looking for a first company to continue to develop my skills</p>
            <p>You will find on my website my archivements, my resume and my different profiles on the social network</p>
        </div>

        <div class="text-main">
            <h3>A little more about me</h3>
            <p>Having studied Architecture in Brasil, i came to settle in France in 2017. After 4 years working in commerce (sele of used cars), i decided to change and do a professional retraining. I started a self-thaught training in Web Development before start a training school.</p>
        </div>
    </article>
</main>

{% endblock %}
