{% extends 'base.html.twig' %}

{% block title %}POUVREAU Marcel Portfolio{% endblock %}

{% block body %}

<main class="main-home">
    <img src="{{ asset ("images/background.jpg")}}" alt="">
    <article class="home-article">
        <div class="text-main">
            <h3>Qui suis-je</h3>
            <p>Bonjour, je m'appelle Marcel POUVREAU et je suis développeur web.</p>
            <p>Je suis à la recherche d'une première entreprise afin de continuer à monter en compétences.</p>
            <p>Vous trouverez sur mon site mes réalisations, mon CV ainsi que mes différents profils sur les réseaux.</p>
        </div>

        <div class="text-main">
            <h3>Un peu plus a mon sujet</h3>
            <p>Ayant fait une formation d’Architecture au Brésil, je suis venue m’installer en France en 2017. Après 4 ans travaillant dans le commerce, j’ai décidé de faire une reconversion professionnelle et j’ai démarré une formation autodidacte en Développement Web avant de valider mes compétences auprès d’un organisme de formation.</p>
        </div>
    </article>
</main>

{% endblock %}
