.header-container {
  background-color: #01253d;
  padding: 1rem;
}
.menu-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.header-links
{
  background: #b49d7c;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.25rem;
  width: 90px;
  font-weight: bold;
  text-align: center;

}
