@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #e0ebeb;
  font-family: 'Karla', sans-serif;
}

body
{
  background-image: url("../images/fireworks.jpg");
  height: 100%;
}

.main-home
{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.home-article
{
  margin: 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
  text-align: center;
  background: #1e3a50;
  padding-top: 0.2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  opacity: 85%;
  line-height: 1.5;
}

main img{
  width: 100%;  
  align-items: center;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.text-main p
{
  font-size: 20px;
}

div h3
{
  margin-top: 2rem;
  padding-bottom: .5rem;
  font-size: 2rem;
}


.footer-container
{
  display: flex;  
  align-items: center;
  justify-content: space-around;
  background-color: #01253d;
  padding: 1rem;
  margin-top: auto;
}

.copyright
{
  color: white;
}

.network-container
{
  display: flex;
  align-items: center;
}

.icons
{
  color: #e0ebeb;
  width: 2rem;
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(9deg) brightness(105%) contrast(103%);
}